STORAGE_BOX="hetzner-storage-box-1"
SRC="${HOME}/backups/poseidon"
DEST="${STORAGE_BOX}:poseidon"
ARCHIVE="${STORAGE_BOX}:poseidon/archive"
AGE="7d"
TS=$(date '+%F-%H%M%S')

# NOTIFICATIONS
NOTIFY_TYPE="ntfy" # ntfy | smtp | discord

# NTFY PROVIDER
NTFY="" # DEFAULT is /usr/bin/ntfy-send
NTFY_TOPIC=""

# SMTP
SMTP_TO="you@example.com"
SMTP_FROM="backup@$(hostname)"
SMTP_SUBJECT_PREFIX="[BACKUP]"

# DISCORD
DISCORD_WEBHOOK_URL="https://discord.com/api/webhooks/XXX/YYY"

# NOTIFICATION TEMPLATE
TITLE_SYNC="$HOSTNAME | RCLONE | SYNC"
TAGS_SYNC="sync,rclone"

TITLE_CLEANUP="$HOSTNAME | RCLONE | CLEANUP"
TAGS_CLEANUP="cleanup,rclone"
